<div class="reviews-js">
  <% unless @property.reviews.empty? %>
    <div>
      <h2 id="reviews-count"><%= @property.reviews.count %> Reviews</h2>
    </div>
    <hr>


    <div class="all-reviews">
      <% @property_reviews.each do |review| %>
        <%= image_tag(review.user.image_url, class: "review-picture") %> <h4 class='review-name'><%= review.user.full_name %></h4>
        <div class="star-rating" data-score= <%= review.rating %> ></div>
        <h5><%= review.date %></h5></br>
        <p class="comment-text"><%= review.comment %></p>
        <hr>
      <% end %>
    <% else %>
    <div class="all-reviews">
      <h2>No reviews for this property</h2></br>
    </div>
    <% end %>
    </div>
    <div class="paginate">
      <%= will_paginate @property_reviews, renderer: BootstrapPagination::Rails %>
      <hr>
    </div>

    <script id="review-template" type="x-tmpl-mustache">
    <img src={{image}}, class="review-picture" > <h4 class='review-name'>{{ name }}</h4>
    <div class="star-rating" data-score="{{ rating }}"></div>
    <h5>{{ date }}</h5></br>
    <p>{{ comment }}</p>
    <hr>
    </script>

<div class="col-md-7">
  <% if current_user %>
    <%= form_for [@property, @review], :remote => true do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
            <ul>
              <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
        <div class="form-group row">
          <%= f.label :rating, class: 'col-sm-2 form-control-label' %>
  	    <div class="col-sm-6" id='star-rating'></div>
        </div>

        <div class="form-group row">
          <%= f.label :comment, class: 'col-sm-2 form-control-label' %>
  	    <div class="col-sm-6">
          <%= f.text_area :comment, class: 'form-control comment-form' %>
  	    </div>
        </div>
        <br/>
        <div class="form-group row">
          <div class="col-sm-10">
            <%= f.submit 'Submit', class: 'btn btn-primary comment-submit'%>
          </div>
        </div>
  <% end %>
<% end %>
</div>
</div>
