<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
       <table class="table table-striped">
          <h2>Pending Properties</h2>
          <tbody>
        <% @pending_properties.each do |property| %>
            <tr>
             <th>Name</th>
             <th>Status</th>
             <th></th>
            </tr>
              <tr>
                <td>
                  <%= property.name %>
                </td>
                <td>
                  <%= property.status %>
                </td>
                <td>
                  <%= button_to "Delete", admin_property_path(property), method: :delete, class: "btn-xs btn-danger delete-button" %>
                </td>
              </tr>
        <% end %>
          <tbody>
        </table>
      </div>



<div class="col-md-6">
  <table class="table table-striped">
      <h2>Active Properties</h2>
    <tbody>
  <% @active_properties.each do |property| %>
          <tr>
           <th>Name</th>
           <th>Status</th>
           <th></th>
          </tr>
            <tr>
              <td>
                <%= property.name %>
              </td>
              <td>
                <%= property.status %>
              </td>
              <td>
                <%= button_to "Delete", admin_property_path(property), method: :delete, class: "btn-xs btn-danger delete-button" %>
              </td>
            </tr>
  <% end %>

      </tbody>
    </table>
  </div>

 </div>
</div>
